include components/prodCard.pug

doctype html
html(lang="en")
  head
    title KokShop
    link(rel='stylesheet', href='main.css')
    link(rel='preconnect' href="https://fonts.googleapis.com")
    link(rel='preconnect' href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Courgette&family=Fredoka+One&family=Modak&family=Paytone+One&family=Staatliches&display=swap")
  body
    include components/menubar.pug
    h1 Welcome to my shop
    main.shelf
      each product in items
        + prodCard(product)
    script(src='components/scripts/setOrderAmount.js')
