.prodCard
  img(src="img/mocktail.png")
  h2 Rigó Jancsi
  .infBar
    .intolBol
      .gF G
      .lF L
    .price 320 Ft
  .buyBar
    button(onclick="setOrderAmount(this, '-')") -
    button BUY 1
    button(onclick="setOrderAmount(this, '+')") +
